# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

export REPO="/home/avano/work/git/gitlab/jbossqe-fuse"
export GA="/home/avano/work/GA/jboss-eap-6.1"
export GIT="/home/avano/work/git"
export GITHUB="/home/avano/work/git/github"
export GITLAB="/home/avano/work/git/gitlab"
export WORK="/home/avano/work"
export PATCHES="/home/avano/work/patches"
export CONSOLES="$REPO/consoles"
export FAFRAM="$GIT/gitlab/fafram"
export SYN="$GITHUB/syndesis"
export SYNQE="$GITHUB/syndesis-qe"
export CIOPS="$GITLAB/ci-ops-fuse"
export DIST="$WORK/dist"
export FUSE="/home/avano/work/fuse"
export M2_HOME="/home/avano/work/apache-maven-3.5.3"
export JAVA_HOME="/usr/lib/jvm/java-8-oracle/jre"
alias mvncist="mvn clean install -DskipTests=true"
alias mvnci="mvn clean install"
alias mvndebug='mvn -Dmaven.surefire.debug="-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=y,address=5005 -Xnoagent -Djava.compiler=NONE" clean install'
alias cleanBoot="sudo apt-get remove --purge $(dpkg -l 'linux-image-*' | sed '/^ii/!d;/'"$(uname -r | sed "s/\(.*\)-\([^0-9]\+\)/\1/")"'/d;s/^[^ ]* [^ ]* \([^ ]*\).*/\1/;/[0-9]/!d')"
alias mkdir='mkdir -pv'
alias .='ll'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ssh='ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
alias gs='git status'
alias gd='git diff'
alias amend='git add -A; git commit --amend'
alias tests='find src/test/java -name *.java | xargs grep "@Test" -A 1 --no-group-separator | grep -v "@Test" | sed "s/.*\s\(.*\)().*/\1/"'
alias fuse621='rm -rf jboss-fuse-6.2.1.redhat-084; unzip $DIST/jboss-fuse-full-6.2.1.redhat-084.zip; cd jboss-fuse-6.2.1.redhat-084; sed -i 's_#admin_admin_g' etc/users.properties'
alias fuse62='rm -rf jboss-fuse-6.2.0.redhat-133; unzip $DIST/jboss-fuse-full-6.2.0.redhat-133.zip; cd jboss-fuse-6.2.0.redhat-133; sed -i 's_#admin_admin_g' etc/users.properties'
alias fuse61='rm -rf jboss-fuse-6.1.0.redhat-379; unzip $DIST/jboss-fuse-full-6.1.0.redhat-379.zip; cd jboss-fuse-6.1.0.redhat-379; sed -i s_#admin_admin_g etc/users.properties; sed -i s#,hawtio#,hawtio-offline#g etc/org.apache.karaf.features.cfg'
alias instance="sed -i 's#61616#61617#g' etc/system.properties; sed -i 's#8181#8182#g' etc/system.properties; sed -i 's#8181#8182#g' etc/org.ops4j.pax.web.cfg; sed -i 's#8101#8102#g' etc/org.apache.karaf.shell.cfg; sed -i 's#1099#1098#g' etc/org.apache.karaf.management.cfg; sed -i 's#44444#44445#g' etc/org.apache.karaf.management.cfg; sed -i 's#8181#8182#g' etc/jetty.xml; sed -i 's#8443#8444#g' etc/jetty.xml"
alias ho='cd ~/Dropbox/HO; java -jar ho.jar'
alias ftest='mvnci -Dskip.test.fafram=false'
alias docker_mysql='docker run -d -p 3306:3306 -e MYSQL_ROOT_PASSWORD=test -e MYSQL_USER=test -e MYSQL_PASSWORD=test -e MYSQL_DATABASE=test mysql:5.6'
alias docker_postgres='docker run -d -p 5432:5432 -e POSTGRESQL_USER=test -e POSTGRESQL_PASS=test -e POSTGRESQL_DB=test orchardup/postgresql'
alias docker_oracle='docker run -d -p 1521:1521 sath89/oracle-12c'
alias docker_bash='docker run -it --entrypoint /bin/bash'
alias rdesktop='rdesktop -r clipboard:CLIPBOARD -K -z -P -x lan -g 1366x768'
export TERM="xterm-256color"
# checkstyle-script
alias chstyle="/home/avano/work/git/gitlab/qa-conventions-support/checkstyle-scripts/chstyle.groovy"

# git-hooks installation
alias install-git-hooks="/home/avano/work/git/gitlab/qa-conventions-support/git-hooks/install-git-hooks.groovy"
alias nova="source $WORK/nova.properties && nova"

alias wp="watch 'oc get pods'"
